@page "/Actividades/Delete/{ClienteID:int}/{UserID}/{ActividadID:int}"

@rendermode InteractiveServer
@inject ActividadesService actividadesService
@inject ClientesService clientesService
@inject NavigationManager navigation

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using EventMaster.Components.Account
@using EventMaster.Components.Account.Pages
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using EventMaster.Data

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject RoleManager<IdentityRole> RoleManager

@attribute [Authorize(Roles = "admin, cliente")]

<PageTitle>Delete</PageTitle>
<div class="container" style="max-width: 900px;">
    <div class="row mb-3">
        <div class="col md-5">
            <div>
                <h3>Registro de <strong>Actividades</strong></h3>
            </div>
        </div>
    </div>

    <div class="card shadow-lg">
        <div class="card-header">
            <h3 class="text-center"><strong>Delete</strong></h3>
        </div>
        <div class="card-body">
            @if (!string.IsNullOrEmpty(MensajeError))
            {
                <div class="alert alert-danger" role="alert">
                    @MensajeError
                </div>
            }

            <div class="container">
                <div class="row mb-3">
                    <div class="col col-md-8">
                        <label><strong>Título</strong></label>
                        <InputText disabled dir="" class="form-control" @bind-Value="Input.Titulo" placeholder="Título" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-md-8">
                        <label><strong>Tipo de Actividad</strong></label>
                        <InputText disabled class="form-control" @bind-Value="Input.Tipo" placeholder="Tipo de Actividad" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-md-8">
                        <label><strong>Participantes</strong></label>
                        <InputNumber required class="form-control" @bind-Value="Input.Participantes" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-md-8">
                        <label><strong>Descripción</strong></label>
                        <InputTextArea disabled class="form-control" @bind-Value="Input.Descripcion" placeholder="Descripción" />
                    </div>
                </div>

                <div style="width: 817px">
                    <div class="row mb-3">
                        <button @onclick="NavegarA" type="button" class="btn btn-secondary bi bi-arrow-left-circle">Volver</button>
                    </div>
                    <div class="row mb-3">
                        <button @onclick="Eliminar" class="btn btn-danger bi bi-trash3">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-button {
    background-color: #bf1ff0;
    color: white;
    }

    .custom-button:hover {
    background-color: #9e1ac7; /* versión más oscura */
    }
</style>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    public string MensajeError { get; set; } = string.Empty;
    public Actividades Actividad { get; set; } = new();
    public Clientes Cliente { get; set; } = new();
    public ApplicationUser User { get; set; }

    [Parameter]
    public int ClienteID { get; set; }
    [Parameter]
    public int ActividadID { get; set; }
    [Parameter]
    public string UserID { get; set; }

    void NavegarA() { NavigationManager.NavigateTo($"/Actividades/Index/{ClienteID}/{UserID}"); }

    protected override async Task OnInitializedAsync()
    {
        Cliente = await clientesService.Buscar(ClienteID);
        User = await UserManager.FindByIdAsync(Cliente.UsuarioId);
        Actividad = await actividadesService.Buscar(ActividadID);
        Input.Titulo = Actividad.TituloActividad;
        Input.Tipo = Actividad.TipoActividad;
        Input.Descripcion = Actividad.Descripcion;
        Input.Participantes = Actividad.Participantes;

    }

    public async Task Eliminar()
    {
        try
        {
            await actividadesService.Eliminar(Actividad.ActividadId);
            NavigationManager.NavigateTo($"/Actividades/Index/{ClienteID}/{UserID}");
        }
        catch (Exception e)
        {
            MensajeError = "No se pudo eliminar la actividad porque esta vinculada a un evento";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [Display(Name = "Titulo")]
        public string Titulo { get; set; } = "";

        [Required]
        [Display(Name = "Tipo")]
        public string Tipo { get; set; } = "";

        [Required]
        [Display(Name = "Descripcion")]
        public string Descripcion { get; set; } = "";

        [Required]
        [Display(Name = "Participantes")]
        public int Participantes { get; set; }
    }
}