@implements IDisposable

@inject NavigationManager NavigationManager

<div>
    <ul class="row mb-1" style="padding-right: 50px;">
        <li class="col md-5"><a href="#">Home</a></li>
        <li class="col md-5"><a href="#about">About</a></li>
    </ul>
</div>
@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

